@model CadastroPrograma.Models.Habilidades

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habilidades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoProgramador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoProgramador.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ionic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ionic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReactJS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReactJS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReactNative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReactNative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Android)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Android)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flutter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flutter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Html)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Html)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Css)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Css)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bootstrap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bootstrap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jquery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jquery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AngularJs1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AngularJs1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Angular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Angular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Java)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Java)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Python)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Python)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspMvc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspMvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspWebForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspWebForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csharp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csharp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NodeJS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NodeJS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpressNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpressNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Djanto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Djanto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Majento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Majento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Php)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Php)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MySqlServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MySqlServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MySql)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MySql)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesforce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesforce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photoshop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photoshop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilustrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilustrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
